.Myprojects{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
width: 80%;

  }
  .divtitle .title{
     color: rgb(37, 117, 91);
font-size: x-large;
  }
  .divtitle {
    padding-top: 20px;
 }

  .divtitle .svg {
    color: rgb(37, 117, 91);
    font-size: large;
    font-weight: 500;
  }

  .title h1 {
    font-size: 24px; /* Increase the font size */
  }
  .project-card {
    margin-top: 50px;
    background-color: #bbb9b9;
    border-radius: 30px ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 350px;
  }
  
  .project-card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
  
.card-image {
 width: 100%;
  height:400px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s, filter 0.3s;
border-radius: 30px;
}

.card-image:hover {
  transform: scale(1.1);
  filter: brightness(70%);
}

.card-overlay {
  width: 100%;
  height: 300px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s;
border-radius: 30px;

}

.card-image:hover .card-overlay {
  opacity: 1;
}



.tech{
  width: 30%;
  margin: 5px auto;
  border-radius: 20px;
  color: #fdf9f9;
  background: #448d1d;  
  background: -webkit-linear-gradient(to right, #095d44, #3a8612);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #538a79, #183e05); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 500;
    padding:  0 5px 0px 5px;
font-size: small;
}
h4{
  text-decoration: underline rgb(251, 251, 251);
}
.acontainer{
  width: 90%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;


}

.project-button {
  border: none; 
   cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
margin: 10px;
}
.project-button.code,
.project-button.live
{
  border: none; 
   cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  width: 35%;
}


.card-text-container {
  overflow-y: auto;

}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.code{
  background-color: rgb(89, 155, 241);
  color: white;
  font-weight: 800;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000,
-1px -1px 0 #000;

}

.code:hover {
  background-color: rgb(94, 121, 190);
  color: rgb(247, 245, 245);
  font-weight: 900;
} 


.live{

  background-color: rgb(53, 205, 109);
  color: #000000;
  font-weight: 800;
  color: white;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
               1px -1px 0 #000,
              -1px -1px 0 #000;
  
}

.live:hover{
  background-color: rgb(112, 228, 151);
  color: #fdf9f9;
  font-weight: 900;
}

h1{
  color: #fdf9f9;
}


.expanding-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: #bbb9b9;
  border-radius: 30px ;



}

/* Styles for the expanded content */
.expanding-content.expanded {
  max-height: 1200px; 
  background-color: #bbb9b9;
  border-radius: 30px ;
padding: 20px;
max-width: 350px;


}
.card-text{
  padding: 10px;
}
.toggle{
  padding: 10px;
  margin: 20px auto;
  width: 250px;
  background-color: #565d5b !important;
  width: 90% !important;

}
