.footer {
    background-color: #353232;
    color: #fff;
    text-align: center;
    margin-top: 50px;
  }
  .down{
    background-color: #000000;
    color: #fff;
    text-align: center;
    height: 30px;
  }

  .flink{
    color: #ffffff ;
    margin: 5px;
  }
  .flink svg {
    font-size: 40px;
  margin-bottom: 50px;
 }

  .containerfooter h6{
color: rgb(145, 199, 177);
font-size: larger;
  }

  .form-container {
    max-width: 300px;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    margin-top: -70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    background-color: #f9f9f949;
  }
  h2 {
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #ffffffec;
    font-weight: 700;
    text-align: start;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 0px solid #ccc;
    border-radius:10px;
    background-color: #1f1e1e75;
    color: #fcf8f8;
    font-weight: 600;
  }
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius:10px;
    background-color: #1f1e1e75;
    color: #fcf8f8;

  }


  button {
    padding: 10px 20px;
    background-color: #336846 !important;
    color: #fcf8f8;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #46c157 !important;
  }
  
  .succ{
    color:rgb(126, 251, 126);
    display :block;
    text-align: center;
  }
  .error{
    color: rgb(222, 211, 212);
  }

  .custom-shape-divider-top-1693749445 {
 
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1693749445 svg {
    position: relative;
    display: block;
    width: calc(245% + 1.3px);
    height: 234px;
  }
  
  .custom-shape-divider-top-1693749445 .shape-fill {
    fill:   #151515;
    ;
  }